<!-- FOOTER -->
<footer id="footer">
  <!-- top footer -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
<!--        <div class="col-md-3 col-xs-6">-->
<!--          <div class="footer">-->
<!--&lt;!&ndash;            <h3 class="footer-title">Acerca de nosotros</h3>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            <ul class="footer-links">&ndash;&gt;-->
<!--&lt;!&ndash;              <li><a href="#"><i class="fa fa-map-marker"></i>Montevideo, Uruguay</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;              <li><a href="#"><i class="fa fa-phone"></i>+598 99 123 456</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;              <li><a href="#"><i class="fa fa-envelope-o"></i>info@beneficios-wallet.com</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;            </ul>&ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="col-md-3 col-xs-6">-->
<!--          <div class="footer">-->
<!--              <h3 class="footer-title">Acerca de nosotros</h3>-->
<!--  &lt;!&ndash;            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>&ndash;&gt;-->
<!--              <ul class="footer-links">-->
<!--                <li><a href="#"><i class="fa fa-map-marker"></i>Montevideo, Uruguay</a></li>-->
<!--                <li><a href="#"><i class="fa fa-phone"></i>+598 99 123 456</a></li>-->
<!--                <li><a href="#"><i class="fa fa-envelope-o"></i>info@beneficios-wallet.com</a></li>-->
<!--              </ul>-->
<!--&lt;!&ndash;            <h3 class="footer-title">Categorias</h3>&ndash;&gt;-->
<!--&lt;!&ndash;            <ul class="footer-links">&ndash;&gt;-->
<!--&lt;!&ndash;              <li><a href="#">Hot deals</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;              <li><a href="#">Laptops</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;              <li><a href="#">Smartphones</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;              <li><a href="#">Cameras</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;              <li><a href="#">Accessories</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;            </ul>&ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->

        <div class="clearfix visible-xs"></div>

<!--        <div class="col-md-3 col-xs-6">-->
<!--          <div class="footer">-->
<!--            <h3 class="footer-title">Informacion</h3>-->
<!--            <ul class="footer-links">-->
<!--              <li><a href="#">Acerca de nosotros</a></li>-->
<!--              <li><a href="#">Contactanos</a></li>-->
<!--&lt;!&ndash;              <li><a href="#">Privacy Policy</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;              <li><a href="#">Orders and Returns</a></li>&ndash;&gt;-->
<!--              <li><a href="#">Terms & Conditions</a></li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->

        <div class="col-md-3 col-xs-6">
<!--          <div class="footer">-->
<!--            <h3 class="footer-title">Servicio</h3>-->
<!--            <ul class="footer-links">-->
<!--              <li><a href="#">Mi cuenta</a></li>-->
<!--              <li><a href="#">Configuracion</a></li>-->
<!--&lt;!&ndash;              <li><a href="#">Wishlist</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;              <li><a href="#">Track My Order</a></li>&ndash;&gt;-->
<!--              <li><a href="#">Ayuda</a></li>-->
<!--            </ul>-->
<!--          </div>-->
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /top footer -->

  <!-- bottom footer -->
  <div id="bottom-footer" class="section">
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-12 text-center">
<!--          <ul class="footer-payments">-->
<!--            <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>-->
<!--            <li><a href="#"><i class="fa fa-credit-card"></i></a></li>-->
<!--            <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>-->
<!--            <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>-->
<!--            <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>-->
<!--            <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>-->
<!--          </ul>-->
          <span class="copyright">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                V 1.2.0 <br>
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</span>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /bottom footer -->
</footer>
<!-- /FOOTER -->
