<!-- BREADCRUMB -->
<div *ngIf="stock!=null">
<div id="breadcrumb" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumb-tree">
          <li><a href="/">Home</a></li>
          <li><a href="/">Todas las categorias</a></li>
          <li><a (click)="goToFamily()">{{stock.product.familyProduct.name}}</a></li>
          <li class="active">{{stock.product.name}}</li>
        </ul>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- Product main img -->
      <div class="col-md-5 col-md-push-2">
        <div id="product-main-img">
          <div class="product-preview">
            <img [src]="stock.product.imageUrl" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-2  col-md-pull-5">
        <div id="product-imgs">
          <div class="product-preview">
            <img [src]="stock.product.imageUrl" alt="">
          </div>

          <div class="product-preview">
            <img [src]="stock.product.imageUrl" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="product-details">
          <h2 class="product-name">{{stock.product.name}}</h2>
          <div>
            <div class="product-rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-alt"></i>
            </div>
            <a class="review-link" href="#">10 Review(s)</a>
          </div>
          <div>
            <h3 class="product-price">
              ${{stock.product.price*0.80}}
              <del class="product-old-price">${{stock.product.price}}</del>
            </h3>
            <span class="product-available">hay Stock</span>
          </div>
          <p>{{stock.product.description}}</p>
          <div class="add-to-cart">
            <div class="qty-label">
              Qty
              <div class="input-number">
                <input type="number" [(ngModel)]="qty">
                <span class="qty-up" (click)="add()">+</span>
                <span class="qty-down" (click)="remove()">-</span>
              </div>
            </div>
            <button class="add-to-cart-btn" (click)="selectComponent()"><i class="fa fa-shopping-cart"></i> Agregar al carrito</button>
          </div>

          <ul class="product-links">
            <li>Categoria:</li>
            <li><a href="#">{{stock.product.familyProduct.name}}</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-12">
        <div id="product-tab">
          <!-- product tab nav -->
          <ul class="tab-nav">
            <li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
            <li><a data-toggle="tab" href="#tab2">Details</a></li>
            <li><a data-toggle="tab" href="#tab3">Reviews (3)</a></li>
          </ul>
          <div class="tab-content">
            <!-- tab1  -->
            <div id="tab1" class="tab-pane fade in active">
                  <p>{{stock.product.description}}</p>
            </div>
          </div>
          <!-- /product tab content  -->
        </div>
      </div>
      <!-- /product tab -->
    </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
