<!-- NAVIGATION -->
<nav id="navigation">
  <!-- container -->
  <div class="container">
    <!-- responsive-nav -->
    <div id="responsive-nav">
      <!-- NAV -->
      <app-general-menu></app-general-menu>
      <!-- /NAV -->
    </div>
    <!-- /responsive-nav -->
  </div>
  <!-- /container -->
</nav>
<!-- /NAVIGATION -->
<!-- SECTION -->
<div class="header-search col-md-6" style="margin: auto; width: 50%">
  <select class="input-select" [(ngModel)]="this.appComponent.familyProductSelected" (change)="onChange()" [ngModelOptions]="{standalone: true}">
    <option *ngFor="let familyProduct of familyProducts" value="{{familyProduct.name}}">{{familyProduct.name}}</option>
  </select>
  <input class="input" placeholder="Busca aqui" style="padding-left: 55px" [(ngModel)]="textSearch">
  <button class="search-btn" (click)="loadProductOnName()">Buscar</button>
</div>
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- Seleccion familia de productos -->
    <div class="row">
      <div class="col-md-4" *ngFor="let md of metaDataList">
        <div class="shop" (click)="loadFamilyProductsPromotion(md.familyProduct)">
          <div class="shop-img">
            <img src={{md.sourceImg}}>
          </div>
          <div class="shop-body">
            <h3 *ngIf="md.familyProduct!='Diferente'">Seleccion<br>{{md.familyProduct}}</h3>
            <h3 *ngIf="md.familyProduct=='Diferente'">Quiero algo<br>{{md.familyProduct}}</h3>
            <a class="cta-btn">Compra ahora <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!-- /Seleccion familia de productos -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->

<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- section title -->
      <div class="col-md-12">
        <div class="section-title">
          <div class="container">
            <h3 class="title">Productos</h3><hr/>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8" style="margin-left: 10%" *ngFor="let stock of stocks">
            <div class="card my-1">
              <div class="row g-0">
                <div class="col-2">
                  <img [src]="stock.product.imageUrl"
                       alt="{{stock.product.name}}"
                       height="100px"
                       width="60px"
                       class="card-img-top" style="cursor: pointer;" (click)="goToProduct(stock.product.id)">
                </div>
                <div class="col-4">
                  <div class="card-header">
                    <div class="card-title">
                      <p *ngIf="stock.product.name.length>TEXT_LENGTH" (click)="goToProduct(stock.product.id)">{{stock.product.name.substr(0,TEXT_LENGTH) | titlecase}} ...</p>
                      <p *ngIf="stock.product.name.length<=TEXT_LENGTH" (click)="goToProduct(stock.product.id)">{{stock.product.name | titlecase}}</p>
                      <p class="my-3" (click)="goToProduct(stock.product.id)">{{stock.product.price | currency: 'USD'}}
                        <i class="fa fa-plus-circle" (click)="selectProductValue(stock)"></i></p>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="card-body">
                    <div  class="card-text">
                      <p>{{stock.branchOffice.company.name}}</p>
                      <div class="col-4">
                        <img [src]="stock.product.imageUrl"
                             alt="{{stock.product.name}}"
                             class="card-img-top" style="cursor: pointer; opacity: 0.5;">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-2">
                  <div class="card-body">
                    <p align="right" size="24"><i class="fas fa-star"></i> {{stock.branchOffice.score}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="newsletter" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <div class="newsletter">
          <p>Sign Up for the <strong>NEWSLETTER</strong></p>
          <form>
            <input class="input" type="email" placeholder="Enter Your Email">
            <button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
          </form>
          <ul class="newsletter-follow">
            <li>
              <a href="#"><i class="fas fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-instagram"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-pinterest"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
